
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 900px;
    width: 90%;
    height: 900px;
 
    margin: 20px auto;
}
.header-container {
    width: 90%;


    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color-container {
    width: 90%;
    display: flex;
    flex-direction: column;

    margin: 20px auto;

}
.header-style {
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    
}
#color-input {
    margin-top: 5px;
    padding: 2px;
    height: 40px;
    width: 15%;
}
#type-input {
    padding: 6px 8px;
    width: 40%;
}
.scheme-btn {
    padding: 6px 8px;
    width: 40%;
    cursor: pointer;
   
}
.scheme-btn:hover, .scheme-btn:focus {
    /* background: linear-gradient(to right, lightgray, pink); */
    background-color: #5C1414;
    color: white;
}
.color-item {
    width: 100%;
    background-color: lightgray;
    height: 100px;
    margin: 0;
    border-radius: 4px;
 
}
.color-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.color-hex-value {
    width: 100%;
    height: 30px;

    overflow: hidden;
    align-self:center;
    margin: 0;
    padding: 5px;
    text-align: center;

}
#color-one-p {
    text-transform: uppercase;
}

@media screen and (min-width:501px) {
    .color-container {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .color-group {
        width: 20%;
        
    }
    .color-item {
        height: 550px;
    }
}